<div class="container">
  <div class="row row-centered vertical-center">

    <div class="col-lg-6 col-md-6 col-sm-12 text-center ">
      <a routerLink="/videos">
        <div class="card">
          <div class="card-body">
            <h2>
              Videos
            </h2>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 text-center">
      <a routerLink="/stellarium">
        <div class="card">
          <div class="card-body">
            <h2>
              Stellarium
            </h2>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>